@mixin rounded {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

@mixin event-box {
  @include rounded;
  background-color: #fefefe;
  filter: drop-shadow(0.5em 0.5em 1em #bbbbbb);
}
